.App {
  text-align: left;
  font-family: 'Aller';
}

.firstSet{
	display: flex;
}

.secondSet{
	display: flex;
}

.header{
	text-decoration: underline;
}

@font-face{
  font-family: 'Aller';
  src: local('Aller'), url('Aller_Rg.ttf') format('ttf');
}

